<Audio>
   <SoundEffects 
    sellTowerSound="tower_sell" sellTowerSoundVolume="1.0"
	  upgradeTowerSound="tower_upgrade" upgradeTowerSoundVolume="1.0"
	  buildTower="tower_place2" buildTowerVolume="1.0"
	  invalidBuildLocation="invalid" invalidBuildLocationVolume="1.0"
    enemyEscapes="escape" enemyEscapesVolume="1.0"
	  buttonClick="UI_button" buttonClickVolume="1.0"
	  failureTune="failure_tune" failureTuneVolume="1.0"
    victoryTune="victory" victoryTuneVolume="1.0"
	  towerSelect="tower_select" towerSelectVolume="1.0"
	  towerDeselect="tower_deselect" towerDeselectVolume="1.0"
	  unlockable="achievement" unlockableVolume="1.0"
    unlockEverythingCheat="charge_tune" unlockEverythingCheatVolume="1.0"
    moneyAndHealthCheat="tower_sell" moneyAndHealthCheatVolume="1.0"
   />
</Audio>

